:root{
  --primary-color: #f6941e;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  line-height: 1.6;
  font-family: " Helvetica", sans-serif;
  background-color: #f6f6f6;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

h1,h2{
  line-height: 1.2;
}

p{
  margin: 10px 0px;
}

.container{
  width: 1320px;
  margin: auto;
}